<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
		<link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png" />
		<link rel="manifest" href="./manifests/site.webmanifest" />
		<link rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#5bbad5" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="./css/style.css" />
		<link rel="stylesheet" href="./css/archive/style.css" />
		<link rel="stylesheet" href="./css/buttons.css" />
		<link rel="stylesheet" href="./../css/archive/sidebar.css" />
		<script defer src="./js/archive/fetchPages.js"></script>
		<script defer src="./js/archive/card_hover.js"></script>
		<title>PaperShuffle | Archive</title>
	</head>
	<body>
		<header>
			<a href="/"
				><div id="header-title">
					<svg
						version="1.0"
						xmlns="http://www.w3.org/2000/svg"
						width="28px"
						height="28px"
						viewBox="0 0 700.000000 700.000000"
						preserveAspectRatio="xMidYMid meet"
						class="nav-icon"
					>
						<g
							transform="translate(0.000000,700.000000) scale(0.100000,-0.100000)"
							fill="white"
							stroke="none"
						>
							<path
								d="M1967 6564 c-1 -1 -38 -4 -82 -8 -325 -25 -623 -253 -735 -565 -59
-162 -56 -41 -55 -2515 1 -2149 2 -2285 19 -2354 73 -299 275 -528 558 -631
78 -29 125 -40 203 -47 39 -4 783 -7 1655 -7 1759 0 1662 -4 1830 65 222 92
409 285 490 506 58 159 56 112 55 1657 l-1 1420 -27 80 c-56 169 -15 124
-1132 1240 -768 769 -1044 1039 -1087 1063 -73 43 -182 80 -261 88 -49 6
-1424 13 -1430 8z m1313 -443 c3 0 5 -369 5 -819 l0 -817 24 -75 c37 -118 78
-187 166 -276 63 -63 98 -90 165 -123 152 -74 135 -73 1033 -74 l797 0 0
-1336 c0 -857 -4 -1352 -11 -1380 -37 -162 -186 -310 -339 -337 -77 -13 -3172
-11 -3239 2 -160 33 -289 154 -332 312 -18 63 -19 164 -19 2292 0 1456 3 2245
10 2280 33 176 185 323 359 349 35 5 1361 7 1381 2z m1870 -1741 c0 -3 -285
-5 -632 -5 -627 1 -633 1 -674 22 -54 28 -101 83 -114 133 -9 32 -14 710 -10
1250 0 34 26 9 715 -680 393 -393 715 -717 715 -720z"
							/>
						</g>
					</svg>
					<span>PaperShuffle</span>
				</div></a
			>
		</header>

		<main>
			<aside id="side-panel">
				<ul class="navbar-nav">
					<li class="nav-item mt-3"><h6 class="nav-heading">Create</h6></li>
					<li class="nav-item">
						<a href="/archive/add" class="nav-link" id="uploadCSV">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								height="28"
								viewBox="0 -960 960 960"
								width="28"
								class="nav-icon"
							>
								<path fill="white" d="M450-200v-250H200v-60h250v-250h60v250h250v60H510v250h-60Z" />
							</svg>
							<span>Create new</span>
						</a>
					</li>
					<li class="nav-item mt-3"><h6 class="nav-heading">Filter & Search options</h6></li>
					<li class="nav-item">
						<div class="nav-link" id="addnewsection">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								height="28"
								viewBox="0 -960 960 960"
								width="28"
								class="nav-icon"
							>
								<path
									fill="white"
									d="M440-160q-17 0-28.5-11.5T400-200v-240L161-745q-14-17-4-36t31-19h584q21 0 31 19t-4 36L560-440v240q0 17-11.5 28.5T520-160h-80Zm40-276 240-304H240l240 304Zm0 0Z"
								/>
							</svg>
							<span>Filter by Tag</span>
						</div>
					</li>
					<li class="nav-item">
						<div class="nav-link" id="deleteelement">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								height="28"
								viewBox="0 -960 960 960"
								width="28"
								class="nav-icon"
							>
								<path
									fill="white"
									d="M796-121 533-384q-30 26-69.959 40.5T378-329q-108.162 0-183.081-75Q120-479 120-585t75-181q75-75 181.5-75t181 75Q632-691 632-584.85 632-542 618-502q-14 40-42 75l264 262-44 44ZM377-389q81.25 0 138.125-57.5T572-585q0-81-56.875-138.5T377-781q-82.083 0-139.542 57.5Q180-666 180-585t57.458 138.5Q294.917-389 377-389Z"
								/>
							</svg>
							<span>Search by title</span>
						</div>
					</li>
					<div id="bottom-section">
						<li class="nav-item mt-3"><h6 class="nav-heading">Navigation</h6></li>
						<li class="nav-item">
							<div class="nav-link" id="nav-elements">
								<button title="Previous page" id="prev-page-btn" class="page_nav_btn" disabled>
									<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
										<path fill="white" d="M561-240 320-481l241-241 43 43-198 198 198 198-43 43Z" />
									</svg>
								</button>
								<span class="page_nav_btn" title="Current Page" id="currentPage"></span
								><button title="Next page" id="next-page-btn" class="page_nav_btn">
									<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
										<path fill="white" d="m375-240-43-43 198-198-198-198 43-43 241 241-241 241Z" />
									</svg>
								</button>
								<input type="number" name="" id="gotopage" title="Goto page" value=""/>
								<button  class="page_nav_btn" title="Goto" id="gotopagesubmit" type="button">
									<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
										<path
											fill="white"
											d="M480-840q75 0 140.5 28T735-735q49 49 77 114.5T840-480q0 75-28 140.5T735-225q-49 49-114.5 77T480-120q-49 0-98-10.5T296-170l43-43q24 17 63.5 25t77.5 8q127 0 213.5-86.5T780-480q0-127-86.5-213.5T480-780q-127 0-213.5 86.5T180-480q0 39 7.5 72.5T211-339l-45 45q-20-32-33-81t-13-105q0-75 28-140.5T225-735q49-49 114.5-77T480-840Zm55 519v-171L163-120l-43-43 372-372H321v-60h274v274h-60Z"
										/>
									</svg>
								</button>
								<button id="first-page-btn" title="Goto first page" class="page_nav_btn" disabled>
									<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
										<path
											fill="white"
											d="M240-240v-480h60v480h-60Zm447-3L453-477l234-234 43 43-191 191 191 191-43 43Z"
										/>
									</svg>
								</button>
								<span class="page_nav_btn" id="totalPages" title="Total pages"></span
								><button id="last-page-btn" title="Goto last page" class="page_nav_btn">
									<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48">
										<path
											fill="white"
											d="m272-245-43-43 192-192-192-192 43-43 235 235-235 235Zm388 5v-480h60v480h-60Z"
										/>
									</svg>
								</button>
							</div>
						</li>
						<li class="nav-item mt-3"><h6 class="nav-heading">Account</h6></li>
						<li class="nav-item">
							<div class="nav-link">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="28"
									viewBox="0 -960 960 960"
									width="28"
									class="nav-icon"
								>
									<path
										fill="white"
										d="M180-217q60-56 135.896-90.5 75.897-34.5 164-34.5Q568-342 644-307.5 720-273 780-217v-563H180v563Zm302-204q58 0 98-40t40-98q0-58-40-98t-98-40q-58 0-98 40t-40 98q0 58 40 98t98 40ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm55-60h490v-9q-54-46-116-69.5T480-282q-67 0-129 23.5T235-189v9Zm247-301q-32.5 0-55.25-22.75T404-559q0-32.5 22.75-55.25T482-637q32.5 0 55.25 22.75T560-559q0 32.5-22.75 55.25T482-481Zm-2-18Z"
									/>
								</svg>
								<span><%= data.user.display_text %></span>
							</div>
						</li>
					</div>
				</ul>
			</aside>
			<div id="main-content-wrapper"><div id="main-content"></div></div>
		</main>
	</body>
	<template>
		<a href="/archive/PW7WxHtdpovYHdEx" class="page_item">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				height="128"
				viewBox="0 -960 960 960"
				width="128"
				class="card-icon"
			>
				<path
					fill="white"
					d="M319-250h322v-60H319v60Zm0-170h322v-60H319v60ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v521q0 24-18 42t-42 18H220Zm331-554v-186H220v680h520v-494H551ZM220-820v186-186 680-680Z"
				/>
			</svg>
			<span class="card-text"></span>
			<span class="card-tags"></span>
		</a>
	</template>
</html>
